---
import type { Property } from '@-backend/data/main';
import { removePublic } from '@-backend/data/removePublic';
import { AreaIcon } from '../../_shared/atoms/icons/Area';
import { BackIcon } from '../../_shared/atoms/icons/Back';
import { BathIcon } from '../../_shared/atoms/icons/Bath';
import { BedIcon } from '../../_shared/atoms/icons/Bed';
import MainLayout from '../../_shared/MainLayout.astro';
import { ContactForm } from './organisms/ContactForm';

export type Props = {
  property: Property;
};

const { property } = Astro.props as Props;
const agentImage = removePublic(property.agent.image);
const propertyImage = removePublic(property.imageLg);
---

<MainLayout title='Details'>
  <div
    class='container mx-auto min-h-[800px] mb-14 mt-5 flex flex-col space-y-8'
  >
    <a
      href='/'
      class='transition duration-200 ease-in-out hover:text-emerald-800 hover:drop-shadow-md flex w-32 items-center justify-between text-slate-600'
    >
      <BackIcon />
      <span>Research</span>
    </a>
    <div>
      <!-- #region header -->
      <section
        class='flex flex-col space-y-4 lg:space-y-0 lg:space-x-4 lg:flex-row lg:items-center lg:justify-between'
      >
        <div>
          <h2 class='text-2xl font-semibold'>{property.name}</h2>
          <h3 class='text-lg mb-4'>
            <address>{property.address}</address>
          </h3>
        </div>
        <div class='flex gap-x-2 text-sm'>
          <div
            class='bg-green-500 rounded-full text-white px-3 inline-block'
          >
            {property.type}
          </div>
          <div
            class='bg-violet-500 rounded-full text-white px-3 inline-block'
          >
            {property.country}
          </div>
        </div>
        <div class='text-3xl font-semibold text-violet-600'>
          $ {property.price}
        </div>
      </section>
      <!-- #endregion -->

      <main class='flex flex-col items-start gap-8 xl:flex-row'>
        <!-- #region Carrousel Image -->
        <article class='max-w-[768px] flex flex-col space-y-6'>
          <img src={propertyImage} alt='Property Image' />
          <div class='flex gap-x-6 text-violet-700'>
            <div class='flex gap-x-2 items-center'>
              <BedIcon />
              <div class='text-lg font-medium'>{property.bedrooms}</div>
            </div>
            <div class='flex gap-x-2 items-center'>
              <BathIcon />
              <div class='text-lg font-medium'>{property.bathrooms}</div>
            </div>
            <div class='flex gap-x-2 items-center'>
              <AreaIcon />
              <div class='text-lg font-medium'>{property.surface}</div>
            </div>
          </div>
          <p>{property.description}</p>
        </article>
        <!-- #endregion -->

        <!-- #region Formulaire -->
        <aside
          class='flex-1 w-full mb-8 bg-white border border-gray-300 rounded-lg px-6 py-8'
        >
          <div class='flex items-center gap-x-4 mb-8'>
            <div class='w-20 h-20 p-1 border border-gray-300 rounded-full'>
              <img src={agentImage} />
            </div>
            <div>
              <div class='font-bold text-lg'>{property.agent.name}</div>
              <a href='#' class='text-violet-700 text-sm'>View listings</a>
            </div>
          </div>
          <ContactForm client:idle />
        </aside>
        <!-- #endregion -->
      </main>
    </div>
  </div>
</MainLayout>
